<CodeSnippet Format="1.1.0" xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <Header>
    <Title>val</Title>
    <Author>Furkan EMRE</Author>
    <Shortcut>val</Shortcut>
    <Description>jquery val() methodu çağırma</Description>
    <SnippetTypes>
      <SnippetType>Expansion</SnippetType>
      <SnippetType>SurroundsWith</SnippetType>
    </SnippetTypes>
  </Header>
  <Snippet>
    <Declarations>
      <Literal>
        <ID>degisken</ID>
        <ToolTip>Değişken adı</ToolTip>
        <Default>getValue</Default>
      </Literal>
      <Literal>
        <ID>element</ID>
        <ToolTip>ELEMENT ID</ToolTip>
        <Default>ELEMENT_ID</Default>
      </Literal>
    </Declarations>
    <Code Language="JavaScript"><![CDATA[

var $degisken$ = $("#$element$").val($selected$$end$);


]]></Code>
  </Snippet>
</CodeSnippet>